{
    "env": {
        "browser": true
    },
    "extends": ["airbnb", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "arrow-body-style": 0,
        "no-console": 0,
        "no-underscore-dangle": 0,
        "no-useless-catch": 0,
        "import/extensions": 0,
        "import/prefer-default-export": 0,
        "no-unused-vars": ["warn"],
        "class-methods-use-this": 0,
        "max-classes-per-file": 0
    },
    "ignorePatterns": ["node_modules", "dist", "temp_clone"],
    "overrides": [
        {
            "files": ["vite.config.js"],
            "rules": {
                "import/no-extraneous-dependencies": 0
            }
        }
    ]
}