@import 'arena.css';
@import 'fighters.css';
@import 'fighterPreview.css';
@import 'previewContainer.css';
@import 'modal.css';
@import 'victory.css';

:root {
  --color-gold: #ffd700;
  --color-red: #880000;
  --color-black: #111111;
  --font-main: 'Press Start 2P', cursive;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/resources/PressStart2P-Regular.ttf') format('truetype');
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: white;
  font-family: var(--font-main);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

/* Cinematic Filter for Canvas */
.cinematic-canvas {
  filter: sepia(0.3) contrast(1.2) brightness(0.9);
}

img {
  max-width: 100%;
  max-height: 100%;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}
